.message {
  background-color: #a98670;
  overflow: auto;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.messages {
  background-color: orange;
  height: 70vh;
  width: 75vw;
  overflow: auto;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.3)
}

.message-sender {
  grid-column: 1;
}

.message-content {
  grid-column: 2;
  margin-right: 1em;
  margin-left: 1em;
}

.message-date {
  grid-column: 3;
}

.chat hr {
  background-color: grey;
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
  max-width: 75vw;
}

.sending {
  font-size: xx-large;
}
