.LoginDropDown {
  background-color: white;
  width: 70vw;
  height: 50vh;
  float: right;
  position: absolute;
  right: 0;
  box-shadow: 0px 0px 10px 5px;
  transition: all 1s ease;
}

.cross {
  width: 2em;
  margin: auto;
}

.cross:hover {
  cursor: pointer;
  opacity: 0.5;
}
  
.login {
  padding: 5px;
}
