.CalendarEventContainer {
  border: 1px solid black;
  cursor: pointer;
  transition: background 0.3s;
  min-width: 0;
}

.CalendarEventContainer:hover {
  background: rgba(50, 50, 50, 0.5);
}

.CalendarEvent .CalendarEventContainer .EventContent {
  overflow: auto;
}
