.CalendarDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.CalendarDisplay .Column {
  border: 1px solid black;
  border-radius: 0.4em;
  height: 100%;
  margin: 0 0.5em;
  min-width: 10em;
}
