.CalendarEvent {
  border: 1px solid black;
  cursor: pointer;
  transition: background 0.3s;
}

.CalendarEvent:hover {
  background: rgba(50, 50, 50, 0.5);
}

.CalendarEvent .EventContent {
  overflow: auto;
}
