.navbar {
  background-color: #651020;
  height: 3em;
  width: 100%;
  font-size: large;
  box-shadow: 0px 2px 9px 2px #111;
}

.inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.padded {
  padding: 0.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.right {
  min-width: 4em;
}

.right:hover {
  cursor: pointer;
  background-color: #540010;
}
