.App {
  text-align: center;
  background-color: #ffeecf;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: larger;
}

.header {
  height: 3em;
}

.not-header {
  height: calc(100vh - 3em);
}

.module-switch {
  padding: 0.5em;
}