.App {
  text-align: center;
  background-color: #ffeecf;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  height: 3em;
}

.not-header {
  height: calc(100vh - 3em);
}

.module-switch {
  padding: 0.5em;
}

.sidebar-controller {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 20vw;
}